/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: (c) 2017 Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@import "functions";

.learn-more {
  display: inline-block;

  &:after {
    content: ">";
    font-family: "glyph";
    font-size: 80%;
    font-weight: bold !important;
    vertical-align: middle;
    padding-left: 0.2em;
  }
}

.breeze-button {
    @include button();
}


@mixin aether-button($background, $hover) {
  position: relative;
  display: inline-block;
  background-color: $background;
  color: #fcfcfc !important;
  padding: 0.60rem 1.2rem;
  border-radius: 6px;
  transition: background-color .2s;

  &:hover {
    background-color: $hover;
  }

  &:after {
    color: #fcfcfc
  }
}

.button {
  @include aether-button(#5850ec, #6875f5);
}

.noblefir {
  @include aether-button(#48bb78, #68d391);
}

.button.expand {
  display: block;
  padding-right: 20px;
}

.button.expand:after {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -.8ex;
}
